# Local config for the CLI example
#   - Here you can add your own mnemonic or any other config.
#   - If you only modify this file you can keep updating the repository with
#     the latest changes

# Setup:
#   1. Duplicate this file and call it 'local.conf'
#      note:
#        'local.conf' is git ignored, so you can add your wallet config here
#        you should NEVER share this file with anyone
#   2. Add your secret mnemonic into the MNEMONIC variable


# Uncomment for debug the script
# set -x

# Mnemonic:
#   - Use the DEFAULT_MNEMONIC
#   - Allow to override it using environment variables.
#   - Should not be used at the same time as the PK (private key)
#     i.e:
#         MNEMONIC="any other mnemonic" ./dutchx-mainnet -h
#DEFAULT_MNEMONIC="super secret thing that nobody should know"
#MNEMONIC="${MNEMONIC:-$DEFAULT_MNEMONIC}"

# Private key:
#   - Some times using a Private Key is more convenient
#   - Allow to select one account by Private Key
#   - Should not be used at the same time with a MNEMONIC
#DEFAULT_PK="afe7bbba49336d061a0991dcc4265edc6d0efe1af6c80a848c6e8996986d0159"
#PK="${PK:-$DEFAULT_PK}"

# Version
#   - IMPORTANT: For PRODUCTION environment use a fixed version (especially if you use the bots)
#   - You can use any version in https://hub.docker.com/r/gnosispm/dx-services/tags/
#       - You can set it to to a fixed version (i.e. v1.0.8)
#       - You can use latest unstable version: development
#       - You can use the master branch: staging
#DX_SERVICE_VERSION=v1.0.8

# Increase debug messages
#DEBUG_MESSAGES=DEBUG=ERROR-*,WARN-*,INFO-*,DEBUG-*

# Show colors in the logged messages
#SHOW_COLORS=true

# Node
#ETHEREUM_RPC_URL="https://${NETWORK}.infura.io"

# Optionally, you can add env vars in your local conf
# For example:
#   - Change the default gas price used from average to safeLow or fast
#   - Set your time zone by setting TZ to one of the ones in:
#        https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
#read -r -d '' DOCKER_PARAMS_LOCAL << EOM
#  -e DEFAULT_GAS_PRICE_USED=fast
#  -e TZ=Europe/Berlin
#EOM
